*{
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}


.Body{
    background-image: url(./h2Portfospanliospanh2.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
span{
    color: rgb(136, 134, 134);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px  25px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    color: gray;
    transform: .4s;
}
.texto{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.texto span{
    color: grey;
}

h1{
    color: #fff;
    margin: 20px 0px 20px;
    font-size: 75px;
}

h4{
    color: gray;
    letter-spacing: 2px;
    font-size: 20px;
}

h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}


.Sobre{
    background-color: #131f35;
    width: 100%;
    padding: 100px 0px;
    
}
.Sobre img{
    width: 430px;
    height: auto;
}
.Mim{
    width: 550px;
  }
.sobre1{
   display: flex;
   align-items: center;
   justify-content: space-around;
   width: 1130px;
   margin: 0 auto;
}
.Mim h2{
    color: #fff;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.Mim h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.Mim p{
    color: rgba(227, 187, 227, 0.8);
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: gray;
    color: #fff;
    text-transform: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 20px;
    border-radius: 30px;
    transition: .4s;
    
}
button:hover{
    background-color: transparent;
    border: 2px solid ghostwhite;
    cursor: pointer;
}
h5{
    color: #fff;
    font-size: 23px;
    margin-bottom: 15px;
}
